/* navBar.css */

.curtain {
    width: 400px;
    height: 400px;
    display: flex;
    overflow: hidden; 
    background-color: #333; 
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  
  .curtain img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: inherit; 
  }
  


